<div class="content">
{{#if errors.length}}
	<p>Oh no, something went wrong:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{else}}
	
	{{#if blogPost}}
		<dl>		
			<h4>{{blogPost.title}}</h4>
			<p>By: {{blogPost.account_user}}</p>
			
			<p>{{blogPost.post}}</p>
			
		</dl>
	{{else}}
		<p>No, that blog post doesn't exist.</p>
	{{/if}}
{{/if}}
</div>